
body {
  font-family: "Bahnschrift Light";
}

header {
  background-image: linear-gradient(to bottom right, rgb(153, 45, 185), rgb(105, 89, 252));
  padding: 80px;
  text-align: center;
  font-size: 45px;
  color: white;
}

/* the box for content */
nav {
  float: inline-start;
  vertical-align: middle;
  height: 20px; 
  background: rgb(178, 17, 241);
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  padding: 20px;
 
  background-color: rgb(160, 150, 255);
  height: viewpoint-length;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: rgb(178, 17, 241);
  padding: 10px;
  color: white;
  height: 400px;
}

.image1 {
  float: left;
  height: 80px;
  width: 80px;
}

.image3 {
  float: right;
  height: 450px;
  width: 330px;
  margin-right: 5px;
}

a[href]{
  color: white;
  font-size: 17px;
  padding-left: 50px;
}

a[href]:visited {
color: rgb(160, 150, 255);
}

a[href]:hover {
  color:rgb(160, 150, 255)
}


.facts {
  margin-left: 50px;
}

.categories {
  float: right;
  width: 25%;
  background-color: rgb(178, 17, 241);
  height: auto;
}
.contacts {
  float: left;
  margin-left: 30px;
  width: 40%;
  background-color: rgb(178, 17, 241);
  height: auto;
}

table, th, td {
    border: 1px solid;
  }

#ddln1 {
    color: #df0b0b;
}

#ddln2 {
    color: #df0b0b;
}